body {
    background-color: #DBF9FC;
    }
  
.container {
    position: relative;
}

.container__wrapper {
    /* Displayed at the top left corner */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Size */
    height: 100px;
    width: 10   0px;

    /* Hide the part of its children which is displayed outside */
    overflow: hidden;
}

.container__ribbon {
    /* Position */
    left: -50px;
    position: fixed;
    top: 50px;

    /* Size */
    height: 24px;
    width: 206px;

    /* Displayed diagonally */
    transform: rotate(-45deg);

    /* Background color */
    background-color:lightgrey;

    /* Centerize the text content */
    text-align: center;

    font-size: 1.2rem;
    color: black;

}


.elevatorpitch {
   
    margin-top:5%;
    margin-right: auto;
    margin-left: auto;
    background-color: lightgrey;
    text-align: justify;
    padding: 10px;
    box-sizing: 10px;
    height: 80%;
    width: 80%;
    box-shadow: 8px 8px #888888 ;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
  }

  
  /*For Navigation Drawer*/
  .topnav {
    margin-top: 50px;
    overflow: hidden;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    box-shadow: 8px 8px #888888 ;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 11px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #1B2430;
    color: white;
  }
  
  .topnav a.active {
    background-color: #1B2430;
    color: whitesmoke;
  }

  /*For Avtar*/

  .avatar {
    /* Rounded border */
    border-radius: 50%;
    height: 300px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}


.avatar__image {
    /* Rounded border */
    border-radius: 50%;

    /* Take full size */
    height: 100%;
    width: 100%;
    box-shadow: 8px 8px #888888
}


footer
{
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 10%;
  margin-bottom: 2%;
  margin-left: 2%;

}


